src/main/java/org/sav/jaxws/OrgsynchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://localhost:8080/jaxws/services/OrgsynchService"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd1="http://localhost:8080/jaxws/services/OrgsynchService"
        name="OrgsynchService"
        targetNamespace="http://localhost:8080/jaxws/services/OrgsynchService">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://localhost:8080/jaxws/services/OrgsynchService"
                        schemaLocation="xsd/Employee.xsd">
            </xsd:import>
            <xsd:import namespace="http://localhost:8080/jaxws/services/OrgsynchService"
                        schemaLocation="xsd/Orgstructure.xsd">
            </xsd:import>
            <xsd:import namespace="http://localhost:8080/jaxws/services/OrgsynchService"
                        schemaLocation="xsd/testMethodIn.xsd">
            </xsd:import>
            <xsd:import namespace="http://localhost:8080/jaxws/services/OrgsynchService"
                        schemaLocation="xsd/testMethodOut.xsd">
            </xsd:import>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="Employee_DCTM_Request_MT">
        <wsdl:part name="parameters" element="xsd1:Employee_DCTM_Request_MT"/>
    </wsdl:message>

    <wsdl:message name="OrgStructure_Request_MT">
        <wsdl:part name="parameters" element="xsd1:OrgStructure_Request_MT"/>
    </wsdl:message>

    <wsdl:message name="testMethod">
        <wsdl:part name="parameters" element="xsd1:testMethod"/>
    </wsdl:message>

    <wsdl:message name="testMethodResponse">
        <wsdl:part name="parameters" element="xsd1:testMethodResponse"/>
    </wsdl:message>

    <wsdl:portType name="OrgsynchService">
        <wsdl:operation name="UpdateEmployee">
            <wsdl:input message="tns:Employee_DCTM_Request_MT"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateDepartment">
            <wsdl:input message="tns:OrgStructure_Request_MT"/>
        </wsdl:operation>
        <wsdl:operation name="testMethod">
            <wsdl:input message="tns:testMethod"/>
            <wsdl:output message="tns:testMethodResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrgsynchBinding" type="tns:OrgsynchService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="UpdateEmployee">
            <soap:operation soapAction="urn:UpdateEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="UpdateDepartment">
            <soap:operation soapAction="urn:UpdateDepartment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="testMethod">
            <soap:operation soapAction="urn:testMethod" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrgsynchService">
        <wsdl:port name="OrgsynchService" binding="tns:OrgsynchBinding">
            <soap:address location="http://localhost:8080/jaxws/services/OrgsynchService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
